// Mixins in here

.flex-display {
    display: flex
}

.center-text {
    text-align: center;
}

.main-section-generator {
    margin: 50%;
}

.font-styler {
    // whatever the hell the font is, 
    //and whatever the hell the size is
    color: @shark;
    font-size: 26px;
}

.button-styler {
    background-color: @button-bg;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    font-size: 18px;
    color: @main-bg;
    .center-text();
}

@media: ~"(max-width: 500px)"; 