.custom-flex(@justify, @align) {
    display: flex;
    justify-content: @justify;
    text-align: @align;
}

.main-section-generator {
    margin: 50%;
}

.font-styler {
    color: @shark;
    font-size: 26px;
}

.button-styler {
    background-color: @button-bg;
    border-radius: 10px;
    width: 220px;
    height: 50px;
    font-size: 1.5rem;
    color: @main-bg;
    text-align: center;
}