header nav {
    .custom-flex(space-between, none);
    padding-bottom: 3%;
    
    a {
        padding-right: 50px;
        color: @font-color;
        font-size: 1.2rem;
        text-decoration: none;
    }
}
